<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getIduser()})}" th:object="${user}">
  <label for="username">Enter name</label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
  <br>
  <label for="surname">Enter surname</label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{email}">Name Error3</div>
  <br>
  <label for="birthday">Enter birthday</label>
  <input type="text" th:field="*{birthday}" id="birthday"/>
  <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Name Error6</div>
  <br/>
  <label for="email">Enter email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error3</div>
  <br>
  <label for="address">Enter address</label>
  <input type="text" th:field="*{address}" id="address"/>
  <br>
  <label for="phone">Enter phone</label>
  <input type="text" th:field="*{phone}" id="phone"/>
  <br>
  <input type="submit" value="Update">
</form>

</body>
</html>